annotated-types==0.7.0
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
filelock==3.29.0
idna==3.13
iniconfig==2.3.0
lazy_imports==1.2.0
more-itertools==11.0.2
packaging==26.2
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
qase-api-client==2.0.7
qase-api-v2-client==2.0.6
qase-pytest==8.1.0
qase-python-commons==5.1.1
requests==2.33.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
